.quote {
  width: 614px;
  // height: 301px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  /* or 43px */

  color: #000000;
  padding-left: 100px;
  margin-bottom: 50px;

  border-left: 8px solid #f7df94;
}
